<%- include('includes/head.ejs', { title: 'Error!' }) %>
    </head>

    <body>
        <%- include('includes/header.ejs') %>
            <main>
                <h1>Page Not Found</h1>
                <p>Please go back to main menu</p>
            </main>
    </body>

    </html>