<%- include('includes/head.ejs', { title: 'Admin' }) %>
  </head>

  <body>
    <%- include('includes/header.ejs') %>
      <main>
        <h1>The Admin Page</h1>
        <p>Admin only</p>

      </main>
  </body>

  </html>