<%- include('includes/head.ejs', { title: 'Admin' }) %>
  </head>

  <body>
    <%- include('includes/header.ejs') %>
      <main>
        <h1>Profile Page</h1>
        <h1>My profile sample</h1>
      </main>
  </body>

  </html>